<log4net>
	<root>
		<level value="ALL" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>

	<!--File Appender-->
	<appender name="file" type="log4net.Appender.RollingFileAppender">
		<encoding value="utf-8" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<file value="logs\" />
		<datePattern value="dd.MM.yyyy'.log'" />
		<staticLogFileName value="false" />
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date{M-dd-yyyy h:mm:ss}] %level: %logger - %message%newline" />
		</layout>
	</appender>

	<!--Console appender-->
	<appender name="console" type="log4net.Appender.ManagedColoredConsoleAppender">
		<mapping>
			<level value="INFO" />
			<forecolor value="White" />
		</mapping>
		<mapping>
			<level value="WARN" />
			<forecolor value="Yellow" />
		</mapping>
		<mapping>
			<level value="ERROR" />
			<forecolor value="Red" />
		</mapping>
		<mapping>
			<level value="DEBUG" />
			<forecolor value="Green" />
		</mapping>
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="[%date{M-dd-yyyy h:mm:ss}] %level: %message%newline" />
		</layout>
	</appender>
</log4net>